.header {
    background-color: #323276;

    .container {
        p {
            margin-top: 1rem;
        }

        .dropdown {
            margin-top: 15px;
            margin-left: 10px;
        }
    }
}