.navBar {

    .container {
        height: 5rem;

        h1 {
            color: #c73385;
        }

        svg {

            margin-left: 1rem;
        }

        a:active {
            color: red;
        }
    }
}

@media screen and (max-width: 1000px) {
    .navBar {
        .container {
            .hideIt {
                display: none;
            }
        }
    }
}

.breadcrumb>li+li:before {

    content: "> ";
    padding: 0 5px;
}