.price {
    background: lightgrey;
    height: 28px;
    width: 100px;
    text-align: center;
}

.color {
    // background-color: red;
    height: 35px;
    width: 35px;
    border-radius: 50px;
}
.accordion-button, .accordion-body{
    background-color: #ffff;
}